<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Ricette')"></head>

<body>
<nav th:replace="fragments/navbar.html :: navbar('ricette')"></nav>
<main class="container">
    <h1 class="mb-3">Ricette</h1>
    <div class="row mb-3">
        <div class="col-8"></div>
        <form class="col-3" id="ricetta-search" th:action="@{/ricette}" method="get">
            <div class="input-group">
                <input class="form-control" type="text" name="keyword" id="keyword"
                       placeholder="cerca una ricetta per nome" th:value="${preloadSearch}">
                <button type="submit" class="btn btn-dark"><i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>
        <div class="col-1"></div>
    </div>

    <div class="row">
        <div class="d-flex">
            <div class="card m-2 shadow card" style="width: 20rem;" th:each="ricetta : ${ricetteList}">
                <a th:href="@{/ricette/show/{id}(id=${ricetta.id})}">
                    <img th:src="@{${ricetta.image}}" class="card-img-top" alt="image recipe">
                </a>
                <div class="card-body">
                    <div class="row">
                        <h2 class="card-title col-9 pt-3" th:text="${ricetta.title}"></h2>
                        <h5 class="col-3 pt-3" th:text="|${ricetta.preparationTime} min.|"></h5>
                        <p th:text="|Per ${ricetta.numberOfPortions} persone|"></p>
                    </div>
                </div>

                <div class="card-body d-flex justify-content-between ">
                    <div class="col-5">
                        <a class="btn btn-dark " th:href="@{/ricette/edit/{id}(id=${ricetta.id})}">Modifica</a>
                    </div>
                    <form th:action="@{/ricette/delete/{id}(id=${ricetta.id})}" method="post"
                          onsubmit="return confirm('Sei sicuro di voler eliminare questa ricetta?')">
                        <button type="submit" class="btn btn-dark">Cancella</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="mt-3 d-flex justify-content-center">
        <a class="btn btn-dark" th:href="@{/ricette/create}">Aggiungi la tua
            ricetta</a>
    </div>

</main>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>