<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Ricette')"></head>

<body>
<nav th:replace="fragments/navbar.html :: navbar('ricette')"></nav>
<main class="container">
    <h1 class="mb-3">Ricette</h1>
    <div class="row">
        <div class="d-flex">
            <div class="card" style="width: 18rem;" th:each="ricetta : ${ricetteList}">
                <a th:href="@{/ricette/show/{id}(id=${ricetta.id})}">
                    <img th:src="@{${ricetta.image}}" class="w-75">
                </a>
                <div class="card-body">
                    <div class="row">
                        <h2 class="card-title col-9 pt-3" th:text="${ricetta.title}"></h2>
                        <h5 class="col-3 pt-3" th:text="|${ricetta.preparationTime} min.|"></h5>
                        <p th:text="|per ${ricetta.numberOfPortions} persone|"></p>
                    </div>
                </div>

                <div class="card-body d-flex justify-content-between">
                    <a class="btn btn-primary col-5" th:href="@{/ricette/edit/{id}(id=${ricetta.id})}">Modifica</a>
                    <form th:action="@{/ricette/delete/{id}(id=${ricetta.id})}" method="post"
                          onsubmit="return confirm('Sei sicuro di voler eliminare questa ricetta?')">
                        <button type="submit" class="btn btn-primary">Cancella</button>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="mt-3 d-flex justify-content-center">
        <a class="btn btn-primary" th:href="@{/ricette/create}">Aggiungi la tua
            ricetta</a>
    </div>

</main>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>