<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: head('Dettagli ricetta')"></head>
<body class="">
<nav th:replace="fragments/navbar.html :: navbar('ricette')"></nav>

<div class="container">
    <div class="row mt-3">
        <div class="col-8 mt-4">
            <img class="img-fluid shadow-lg" th:src="@{${ricetta.image}}">
        </div>

        <div class="col-4  mt-3 pt-5 centro">
            <div>
                <p class="mt-5" th:if="${ricetta.category != null}" th:text="${ricetta.category.name}"></p>
                <h1 class="  pb-3 mt-1"
                    th:text="|${ricetta.title}  (per ${ricetta.numberOfPortions} persone)|"></h1>
                <p class=" text-center mt-3" th:text="|${ricetta.preparationTime} min.|"></p>
            </div>
            <h5 class=" text-center pb-2 mt-1">Ingredienti</h5>
            <h6 class=" text-center pb-3" th:text="${ricetta.ingredients}"></h6>

            <h5 class=" text-center pb-2 mt-1">Preparazione</h5>
            <p class=" text-center"><i class="fa-solid fa-utensils"></i> <span
                    th:text="${ricetta.recipeText}"></span>
            </p>

        </div>
    </div>
    <div class="text-center mt-5">
        <a class="text-decoration-none text-dark" th:href="@{/ricette}"><i
                class="fa-solid fa-circle-chevron-left"></i> Ritorna alla lista </a>
    </div>
</div>

<footer th:replace="fragments/resources :: footer"></footer>

<th:block th:replace="fragments/resources :: script"></th:block>
</body>
</html>