<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="navbar(area)" class="navbar navbar-expand-lg bg-dark navbar-dark mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><img class="ms-2 rounded" style="width:60px"
                                                    src="https://i.pinimg.com/564x/a7/6e/8f/a76e8fcc1be9e951c6ceea4d74d5f077.jpg"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${area == 'ricette' ? 'active' : ''}"
                       th:href="@{/ricette}">Ricette</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${area == 'categorie' ? 'active' : ''}"
                       th:href="@{/categorie}">Categorie</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>